html {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

.clear {
  clear: both;
}

hr {
  border: 1px solid #ddd;
}

.main {
  /* background-color: aqua; */
  overflow: hidden;
}

.wrapper-header {
  background-color: #fff;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
}

.header {
}

.header-top {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.header-top .search {
  flex: 1;
  position: relative;
}

.header-top .search input {
  max-width: 320px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  padding: 8px;
  border-radius: 20px;
}

.header-top .search i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.header-top .logo {
  flex: 2;
  text-align: center;
  align-items: center;
}

.header-top .logo img {
  width: 200px;
  cursor: pointer;
}

.header-top .user-mobile {
  display: none;
}

.header-top .user {
  flex: 1;
  justify-content: right;
  display: flex;
  font-size: 14px;
}

.header-top .user p {
  padding: 12px 16px;
  text-transform: uppercase;
  transition: color 0.1s ease-in;
}

.header-top .user p:hover {
  color: #d09f56;
  cursor: pointer;
}

.header-top .login {
  position: relative;
}

.header-top .login::after {
  content: "|";
  display: block;
  position: absolute;
  top: 6px;
  right: -1px;
  opacity: 0.3;
}

.header-top .login:hover .option {
  display: block;
}

.header-top .user .option {
  position: absolute;
  top: 30px;
  min-width: 120px;
  background-color: #fff;
  box-shadow: 0 0 5px #aaa;
  display: none;
  animation: fadeIn ease 0.3s;
}

.header-top .user .option::after {
  content: "";
  display: block;
  border: 5px solid;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.4)
    rgba(0, 0, 0, 0);
  position: absolute;
  top: -10px;
  left: 40px;
}

.header-top .user .cart {
  margin-right: 20px;
  position: relative;
}

.header-top .cart i {
  font-size: 24px;
  position: absolute;
  right: -20px;
  top: 40%;
  transform: translateY(-60%);
}

.header .nav {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.header > .nav > li {
  position: relative;
}

.header .nav a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  padding: 16px;
  transition: color 0.1s ease-in;
}

.header .nav > li:last-child > a {
  color: #d39332;
}

.header .nav li:hover .subnav {
  display: block;
}

.header .nav a:hover {
  color: #b37820;
}

.header .subnav {
  display: none;
  position: absolute;
  z-index: 1;
  top: 30px;
  border-radius: 2px;
  min-width: 220px;
  box-shadow: 0 0 5px #000;
  padding: 20px 10px;
  animation: fadeIn ease 0.4s;
  background-color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

.header .subnav a {
  display: block;
  padding: 10px;
  text-transform: none;
  font-size: 16px;
}

.header .subnav::before {
  content: "";
  display: block;
  border: 5px solid;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.4)
    rgba(0, 0, 0, 0);
  position: absolute;
  top: -10px;
  left: 40px;
}

.content {
  margin-top: 180px;
  padding-top: 640px;
  background: url(../img/contact-page/pexels-seven11nash-380769.jpg);
  background-position: 40%;
  background-size: cover;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.content .content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content .content-wrapper .left {
  background-color: rgba(224, 190, 105, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .content-wrapper .left div {
  margin: 60px;
}

.content .content-wrapper .left p {
  margin: 20px 0;
  letter-spacing: 1px;
  line-height: 1.4;
}

.content .content-wrapper .title {
  font-size: 40px;
}

.content .content-wrapper .sub-title,
.content .content-wrapper .text {
  font-size: 14px;
}

.content .content-wrapper .text {
  opacity: 0.7;
}

.content .content-wrapper .right {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content .content-wrapper .right div {
  margin: 150px;
}

.content .content-wrapper input,
.content .content-wrapper textarea {
  max-width: 516px;
  width: 100%;
  font-size: 15px;
  margin: 5px 0;
  border: 1px solid #ccc;
  outline: none;
  padding: 8px 12px;
}

.content .content-wrapper textarea {
  height: 120px;
}

.content .content-wrapper #submit {
  font-weight: bold;
  height: 35px;
  width: 60px;
  color: #fff;
  background-color: #000;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.footer {
  display: flex;
}

.footer .nav {
  flex: 1;
  text-align: center;
  padding: 40px;
}

.footer .nav h2 {
  font-size: 24px;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

.footer .nav ul {
  text-align: left;
}

.footer .nav li:hover a {
  color: #da9327;
}

.footer .nav a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 10px 0 10px 20%;
  letter-spacing: 1px;
}

.footer .mid {
  flex: 2;
  margin: 40px;
}

.footer .contact {
  flex: 1px;
}

.footer .mid {
  text-align: center;
}

.footer .mid img {
  width: 200px;
}

.footer .mid .des {
  margin-bottom: 20px;
  margin-top: 10px;
  letter-spacing: 1px;
  font-size: 17px;
  line-height: 1.4;
}

.footer .mid form {
  /* overflow: hidden; */
}

.footer .mid #email {
  margin-top: 30px;
  max-width: 578px;
  width: 80%;
  font-size: 16px;
  padding: 8px 16px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.footer .mid #submit {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 6px 8px;
  border: none;
  background-color: #2d2d2d;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 2px;
}

.footer .contact {
  text-align: center;
  padding: 40px;
}

.footer .contact h2 {
  font-size: 24px;
  padding-bottom: 20px;
  letter-spacing: 1px;
}

.footer .contact li {
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 10px;
}

.footer .contact span {
  color: #d39332;
}

.copyright {
  text-align: center;
  color: #aaa;
  padding: 20px;
  font-size: 14px;
}

.copyright span {
  color: #000;
}

.bubble-social {
  position: fixed;
  border-radius: 50%;
  bottom: 60px;
  right: 20px;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.bubble-social img {
  width: 80px;
  position: absolute;
  left: -15px;
  top: -3px;
}

.slide-up {
  position: fixed;
  right: 20px;
  bottom: 30px;
}

.slide-up a {
  text-decoration: none;
}

.slide-up a i {
  color: #000;
  font-size: 24px;
  padding: 12px;
}

/* > pc low resolution */
@media (min-width: 1025px) {
  .header-top .user {
    flex: 1;
  }
}

/*  tablet - pc low resolution */
@media (min-width: 740px) and (max-width: 1024px) {
  .header-top .search {
    flex: 2;
  }

  .header-top .user {
    flex: 2;
  }

  .header-top .search i {
    right: 0px;
  }
  .content {
    padding-top: 800px;
  }
  .content .content-wrapper .left div {
    margin: 30px;
  }

  .content .content-wrapper .title {
    font-size: 24px;
  }

  .content .content-wrapper .sub-title,
  .content .content-wrapper .text {
    font-size: 12px;
  }

  .content .content-wrapper .right div {
    margin: 60px;
  }
  .footer .mid {
    flex: 1;
  }
}

/* mobile */
@media (max-width: 739px) {
  .header-top .search {
    flex: 2;
  }
  .header-top .search input {
    margin-left: 12px;
  }
  .header-top .logo img {
    width: 160px;
    cursor: pointer;
  }
  .header-top .logo {
    flex: 4;
  }
  .header-top .search i {
    display: none;
  }
  .header-top .user {
    display: none;
  }
  .header-top .user-mobile {
    display: block;
    flex: 1;
  }
  .header-top .user-mobile i {
    padding: 12px;
  }
  .header-top .user-mobile:hover .select {
    display: block;
  }
  .header-top .select {
    display: none;
    position: absolute;
    min-width: 120px;
    right: 16px;
    top: 60px;
    text-align: right;
    background-color: #fff;
    box-shadow: 0 0 5px #aaa;
    animation: fadeIn ease 0.3s;
    z-index: 1;
  }
  .header-top .select p {
    margin-right: 20px;
    padding: 10px 0;
  }
  .header-top .select p:hover .option {
    display: block;
  }
  .header-top .option {
    display: none;
    position: absolute;
    width: 120px;
    right: 98%;
    top: 8px;
    background-color: #fff;
    box-shadow: 0 0 5px #aaa;
    animation: fadeIn ease 0.3s;
  }
  .header-top .option::after {
    content: "";
    display: block;
    border: 6px solid;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ccc;
    position: absolute;
    right: -12px;
    top: 0;
  }
  .header .nav a {
    font-size: 9px;
    padding: 0 6px;
  }
  .content {
    padding-top: 800px;
  }
  .content .content-wrapper .left div {
    margin: 30px;
  }

  .content .content-wrapper .title {
    font-size: 24px;
  }

  .content .content-wrapper .sub-title,
  .content .content-wrapper .text {
    font-size: 12px;
  }

  .content .content-wrapper .right div {
    margin: 80px;
  }
  .footer {
    display: block;
  }
  .footer .nav ul {
    text-align: center;
  }
  .footer .nav a {
    padding: 10px 0;
  }
}
